*.header
*.o
*.orig
*.rej
*.sed
*.sin
*.template
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build*/
compile
config.*
configure
data/Makefile
data/Makefile.in
data/badges/Makefile
data/badges/Makefile.in
depcomp
install-sh
libtool
lightdm-gtk-greeter-*.tar.*
ltmain.sh
m4/
missing
po/*.gmo
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/Rules-quot
po/lightdm-gtk-greeter.pot
src/Makefile
src/Makefile.in
src/lightdm-gtk-greeter
src/lightdm-gtk-greeter-css-application.h
src/lightdm-gtk-greeter-css-fallback.h
src/lightdm-gtk-greeter-ui.h
.deps
.libs
stamp*
