name: Distcheck CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.2.2
    - name: apt update
      run: sudo apt update
    - name: Install build dependencies
      run: sudo apt install ubuntu-dev-tools autopoint gettext git2cl gobject-introspection intltool libgtk-3-dev libindicator3-dev liblightdm-gobject-1-dev pkg-config xfce4-dev-tools
    - name: autogen
      run: ./autogen.sh
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
